.App {
  margin-top: 5px;
  margin-left: 20px;
  --semantic-button-margin: 0 0 0 0;
  --semantic-button-border-top: 2px outset rgb(118, 118, 118);
}

/* Semantic UI React adds 2em marginRight to icons, which is unnecessary */
div.QueueList button > i {
  margin: var(--semantic-button-margin);
}

div.TaskList button > i {
  margin: var(--semantic-button-margin);
}
/* ~Semantic UI React adds 2em marginRight to icons, which is unnecessary */

/* Semantic UI React removes the top border of buttons in cards, which is unnecessary */
div.QueueList div.Queue.noContent .card button {
  border-top: var(--semantic-button-border-top) !important;
}

div.TaskList div.Task.noContent .card button {
  border-top: var(--semantic-button-border-top) !important;
}
/* ~Semantic UI React removes the top border of buttons in cards, which is unnecessary */
