.QueueList {
  width: 100%;
  text-align: left;
  display: flex;
}

.QueueList .queueBar {
  min-width: 15%;
  max-width: 30%;
  padding-right: 15px;
}

.QueueList .queueBar .noQueue{
  margin: 0 auto;
  width: 15%;
  height: 30%;
}

.QueueList .queueBar .noQueue .createQueue{
  margin-top: 4px;
  margin-left: 2px;
}

.QueueList .mainPanel {
  width: 100%;
}
