.Queue {
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 5px;
}

.colorStripe {
  width: 20px;
  height: 30px;
  float: left;
  margin-right: 5px;
}

.queueName {
  float: left;
}

.taskCount {
  float: left;
  margin-left: 10px;
}

.queueButtons {
  float: right;
}
